@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
.Bg-ColorBgGreen {
  background-color: #ECEDE6; }

.type-light {
  font-weight: 300; }

.type-regular {
  font-weight: 400; }

.type-bold {
  font-weight: 700; }

.type-s {
  font-size: 12px; }

.type-sm {
  font-size: 16px; }

.type-md {
  font-size: 24px; }

.type-lg {
  font-size: 36px; }

.type-xlg {
  font-size: 48px; }

.color-black {
  color: #0D270B; }

.color-white {
  color: #f4f4f4; }

.color-green2 {
  color: #759A4A34; }

.color-green {
  color: #759A4A; }

.color-LightGreen {
  color: #a8df77; }

.color-bgGreen {
  color: #ECEDE6; }

section {
  margin: auto;
  max-width: 1080px;
  height: auto;
  margin-top: 120px; }
  section .containerPromos .card {
    width: 13rem; }

a {
  color: #0D270B;
  text-decoration: none; }
  a:active {
    color: #0D270B;
    text-decoration: none; }
  a:hover {
    color: #0D270B;
    text-decoration: none; }
  a:focus {
    text-decoration: none; }

.miBoton {
  padding: 0.5rem 2rem;
  background-color: #759A4A;
  color: #f4f4f4;
  font-size: 1.2em;
  border-radius: 5px; }

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box; }

.footer-container .logo-footer {
  border-radius: 200px;
  width: 60px;
  height: 60px; }

.footer-container i {
  font-size: 30px; }

header #menu {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
  top: 0; }

header .logo {
  width: 6rem;
  border-radius: 50%;
  margin: 0.5rem; }

header .nav-item {
  font-size: 1.2em; }

.card-body {
  background-color: #759A4A34; }

section .containerPromos img {
  object-fit: cover; }

section img {
  height: 384px;
  width: 288px; }

.cbd-container {
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  padding: 3rem 0; }
  .cbd-container img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover; }
  .cbd-container h6 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: end;
    font-size: 1.5em; }

.cbd-section-container {
  height: auto;
  margin-left: 1.5rem;
  font-weight: 200;
  font-size: 1em; }

.cbd-section {
  margin-left: 1rem;
  text-align: center;
  width: 100%;
  height: 100%; }

.cbd-text {
  font-size: 1.5em;
  text-align: end; }

.btn-beneficios {
  font-size: 0.7em;
  font-weight: 400;
  border-style: none;
  color: #0D270B; }
  .btn-beneficios i {
    font-size: 25px;
    color: #759A4A; }

.btn:focus {
  box-shadow: none; }

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  margin-bottom: 2rem;
  font-weight: 200; }

.texto-carousel {
  width: 100%; }

.carousel-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 60%; }

.texto-carousel {
  width: 100%;
  margin: 0;
  font-size: 1.7em; }

.titulo-carousel {
  text-align: center;
  margin-bottom: 0;
  padding-top: 2rem;
  font-size: 1.5rem; }

.carousel1 {
  height: 50vh;
  width: 100%; }

.carousel-productos {
  height: 100%;
  width: auto;
  background-color: none; }
