@each $type, $val in $weight {
    .type-#{$type}{
        font-weight: $val;
    }
}
@each $t, $val in $size {
    .type-#{$t}{
        font-size: $val;
    }
}

@each $color, $val in $color {
    .color-#{$color}{
        color: $val;
    }
}

section {
    margin: auto;
    max-width: 1080px;
    height: auto;
    margin-top: 170px;
    .containerPromos{
        .card {
            width: 13rem        
        }
    }
}

a {
    color: $colorBlack;
    text-decoration: none;
    &:active {
        color: $colorBlack;
        text-decoration: none;
    }
    &:hover {
        color: $colorBlack;
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}

.miBoton {
    padding: 0.5rem 2rem;
    background-color: $colorGreen;
    color: $colorWhite;
    font-size: 1.2em;
    border-radius: 5px;
  
}

