// Font size
$fonts: 'Poppins', sans-serif;
$weight:("light":300, "regular":400, "bold":700);
$size:("s":12px,"sm":16px,"md":24px,"lg":36px,"xlg":48px);
// fontSizeEnd

// Colors
$colorBlack: #121212;
$colorWhite: #fff;
$colorGrey: #ffffff68;
// ColorsEnd