.card-body {
    background-color: $colorGreen2;
}
section{

    .containerPromos{
        img {
            // height: 300px;
            // width: 100%;
            object-fit: cover;
        }
    }
    img {
        height: 384px;
        width: 288px;
    }
}